---
---

body {
  color: #222;
  font: 12px/1.4 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
body * {
  /* Needed to override some Google Chart styles. */
  font-family: inherit!important;
}
section {
  overflow: hidden;
}
ul {
  list-style: square;
  margin: 0;
  padding: 0 0 0 1.5em;
}
i {
  display: inline-block;
  font: inherit;
}
a {
  color: #f05721;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#main.unauthorized {
    display: none;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

/**
 * Banner Component
 */

.Banner {
  background-color: #{{ site.color.primary }};
  box-sizing: border-box;
  color: #{{ site.color.secondary }};
  display: table;
  margin-bottom: 1.5em;
  padding: 1.2em 1.5em;
  width: 100%;
}
.Banner-title {
  display: table-cell;
  font-size: 1.667em;
  font-weight: 400;
  margin: 0;
  vertical-align: middle;
  width: 100%;
}
.Banner-title em {
  font-weight: 300;
  font-size: .8em;
  font-style: normal;
  margin-left: .5em;
  opacity: .6;
}
.Banner-auth {
  color: #{{ site.color.secondary }};
  display: table-cell;
  font-size: 1.1em;
  vertical-align: middle;
  white-space: nowrap;
}

/**
 * Base Component
 */

.Component {
  background: #fff;
  display: none;
  float: left;
  padding: 1.5em;
}
.is-authorized .Component {
  display: block;
}

/**
 * Realtime Component
 */

.Realtime {
  color: black;
  border-bottom: 2px solid #ecf0f1 !important;
  margin-bottom: 5px;
}
.Realtime img{
  height:125px;
  float: left;
}
.Realtime-content {
  font-size: 20px;
  font-weight: 100;
  line-height: 34px;
  margin: 0 2em;
}
.Realtime-chart {
  height: 150px;
}
.Realtime-chart canvas {
    height: 100px !important;
    width: 100% !important;
    max-width: 800px;
}
.Realtime-value {
  font-size: 150%;
}
.Realtime.increase {
  -webkit-animation: increase 6s;
  animation: increase 6s;
}
.Realtime.decrease {
  -webkit-animation: decrease 6s;
  animation: decrease 6s;
}
@-webkit-keyframes increase {
  0% {}
  10% {
    background-color: hsl(120, 100%, 96%);
    color: hsla(120, 100%, 25%, 1);
  }
  100% {}
}
@keyframes increase {
  0% {}
  10% {
    background-color: hsl(120, 100%, 96%);
    color: hsla(120, 100%, 25%, 1);
  }
  100% {}
}
@-webkit-keyframes decrease {
  0% {}
  10% {
    background-color: hsl(0, 100%, 96%);
    color: hsl(0, 100%, 50%);
  }
  100% {}
}
@keyframes decrease {
  0% {}
  10% {
    background-color: hsl(0, 100%, 96%);
    color: hsl(0, 100%, 50%);
  }
  100% {}
}
