---
layout: demo
title: Google Analytics Viewer
summary:
---

<main>
  <table class="table Component">
    <tbody>
      {% for post in site.posts %}
      <tr class="Realtime" id="realtime-{{ forloop.index }}">
        <td>
          <div class="Realtime-content">
            <h4>
              {{ post.title }}
            </h4>
            <h1>
              <span class="Realtime-value" id="active-users-{{ forloop.index }}"></span>
            </h1>
          </div>
        </td>
        <td>
          <div class="Realtime-chart">
            <canvas id="chart-{{ post.ga-id }}" width="600" height="100"></canvas>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
{% include embed-api-snippet.html %}
<script src="assets/js/chart.min.js"></script>
<script src="assets/js/promise.js"></script>

<!-- This demo uses the active-users component -->
<script src="components/active-users.js"></script>

<script>
gapi.analytics.ready(function() {

  /**
  * Authorize this user.
  */
  gapi.analytics.auth.authorize({
    container: 'auth',
    clientid: '{{ site.client_id }}',
  });

  /**
  * Add a callback to add the `is-authorized` class to the body
  * as soon as authorization is successful. This is used to help
  * style components.
  */
  gapi.analytics.auth.on('success', function() {
    document.body.classList.add('is-authorized');
  });

  {% for post in site.posts %}

  /**
  * Create a new ActiveUsers instance to be rendered inside of an
  * element with the id "active-users" and poll for changes every
  * five seconds.
  */
  var activeUsers{{ forloop.index }} = new gapi.analytics.ext.ActiveUsers({
    container: 'active-users-{{ forloop.index }}',
    pollingInterval: 30,
    ga_id: {{ post.ga-id }},
  });

  /**
  * This code adds/removes HTML classes to trigger CSS animations
  * when the active user counts go up or down.
  */
  var realtime{{ forloop.index }} = document.getElementById('realtime-{{ forloop.index }}');
  realtime{{ forloop.index }}.addEventListener('animationend', removeAnimationClasses{{ forloop.index }});
  realtime{{ forloop.index }}.addEventListener('webkitAnimationEnd', removeAnimationClasses{{ forloop.index }});
  activeUsers{{ forloop.index }}.on('stop', removeAnimationClasses{{ forloop.index }})
  activeUsers{{ forloop.index }}.on('change', function(data) {
    realtime{{ forloop.index }}.classList.add(data.direction);
  });
  function removeAnimationClasses{{ forloop.index }}() {
    activeUsers{{ forloop.index }}.classList.remove('increase');
    activeUsers{{ forloop.index }}.classList.remove('decrease');
  }
  activeUsers{{ forloop.index }}.execute();

  {% endfor %}
});

/**
* Execute a Google Analytics Core Reporting API query
* and return a promise.
* @param {Object} params The request parameters.
* @return {Promise} A promise.
*/
function query(params) {
  return new Promise(function(resolve, reject) {
    var data = new gapi.analytics.report.Data({query: params});
    data.once('success', function(response) { resolve(response); })
    .once('error', function(response) { reject(response); })
    .execute();
  });
}

</script>
</body>
</html>
