---
layout: demo
title: Google Analytics Viewer
summary:
---

<input type="button" value="Authorize" id="authorize_button" style="display: none;"></input>

<main id="main" class="unauthorized">
  <div class="container">
    {% for post in site.posts %}
      <div class="row Realtime" id="realtime-{{ forloop.index }}">
        <div class="col-sm-2">
          <div class="Realtime-content">
            <h4>
              {{ post.title }}
            </h4>
            <h1>
              <span class="Realtime-value" id="active-users-{{ forloop.index }}"></span>
            </h1>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="Realtime-chart" id="chart-{{ post.ga-id }}">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>

<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
{% include embed-api-snippet.html %}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
<script src="assets/js/jquery.animateNumber.min.js"></script>
<script src="components/active-users.js"></script>

<script type="text/javascript">
var clientId = '{{ site.client_id }}';
var scopes = 'https://www.googleapis.com/auth/analytics.readonly';

function initialize() {
  authorizationFlow(authorizationComplete, refreshComplete);
}

function authorizationComplete(authResult) {
  document.body.classList.add('is-authorized');
  $('#main').removeClass('unauthorized');

  {% for post in site.posts %}

  var activeUsers{{ forloop.index }} = new gapi.analytics.ext.ActiveUsers({
    container: 'active-users-{{ forloop.index }}',
    pollingInterval: 30,
    ga_id: {{ post.ga-id }},
  });

  var realtime{{ forloop.index }} = document.getElementById('realtime-{{ forloop.index }}');
  realtime{{ forloop.index }}.addEventListener('animationend', removeAnimationClasses);
  realtime{{ forloop.index }}.addEventListener('webkitAnimationEnd', removeAnimationClasses);
  activeUsers{{ forloop.index }}.on('stop', removeAnimationClasses)
  activeUsers{{ forloop.index }}.on('change', function(data) {
    realtime{{ forloop.index }}.classList.add(data.direction);
  });

  function execute{{ forloop.index }}(){
            activeUsers{{ forloop.index }}.execute();
        }
  setTimeout(execute{{ forloop.index }}, {{ forloop.index | times:1000 }});

  $(window).resize(function(){
    activeUsers{{ forloop.index }}.resize();
  });

  {% endfor %}

  function removeAnimationClasses() {
    $('.Realtime').removeClass('increase');
    $('.Realtime').removeClass('decrease');
  }
}

function refreshComplete() {
}

function authorizationFlow(authorization_complete, refresh_complete) {
  checkAuth(false, handleAuthResult);

  function checkAuth(prompt_user, callback) {
    alert('checkAuth');
    var options = {
      client_id: clientId,
      scope: scopes,
      immediate: !prompt_user
    }
    gapi.auth.authorize(options, callback);
  }

  function handleAuthResult(authResult) {
    var authorizeButton = document.getElementById('authorize_button');

    // Has the user authorized this application?
    if (authResult && !authResult.error) {
      authorizeButton.style.display = 'none';
      authorization_complete(authResult);
      window.setTimeout(refreshToken, authResult.expires_in * 1000);
    } else {
      authorizeButton.style.display = 'block';
      authorizeButton.onclick = handleAuthClick;
    }
  }

  function handleAuthClick(event) {
    checkAuth(true, handleAuthResult);
    return false;
  }

  function refreshToken() {
    checkAuth(false, refreshComplete);
  }

  function refreshComplete(authResult) {
    refresh_complete(authResult);
    window.setTimeout(refreshToken, authResult.expires_in * 1000);
  }
}
</script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=initialize"></script>

</body>
</html>
